# copy this to config.yml and customize to fit your needs
global:
 buffers: ./buffers
users:
 yourlogin:
  passwd: insert password here
servers:
 some.irc.server:
  port: 6667
  ssl: false
  nick: yournick
  awaynick: yournick_away
  user: me
  name: Your Name Here
  channels:
   - "#channelname"
